
.header{
    text-align: left;
    background: #3f51b5;
    color: #fff;
    font-family: 'Roboto','Helvetica Neue',sans-serif;
    width: 100%;
    margin: 0 0;
    height: 90px;
    float: left; 
    padding: 0
}

.title{
    font-size: 20px;
    width: 50%;
    height: 50%;
    margin-left: 5%;
    margin-top: 1.5%;
    float: left;
    padding: 0;
    
}

.title-text{

    margin: 0 0;
}

.main{
    padding-top: 6%;
    direction: rtl;
    -webkit-locale: "he";
    height: 150%;
    font-size: 20px;
    background-color: inherit;
    
}


.bases_area, .routers_area{
    width: 50%;
    text-align: center;
    float: right;
}

.radio-group {
    display: inline-flex;
    flex-direction: column;
  }

.radio-button{
    margin-bottom: 20%;
}

.serials-radio-group{
    text-align: center;
    float: right;
    width: 100%;;
}
.serial-radio-button{
    text-align:center;
    width: 10%;
}

.stepper{
    direction: ltr;
    background-color: inherit;
}
.row{
    direction: ltr;
}
.col{
    width: 50%;
    float: left;
}

p{
    direction: rtl;
}

.footer{
    position:fixed;
    width:50%;
    height:60px;
    margin-left:-5%;
    bottom:0px;
    left:50%;
}