<div class="headers">
  <div class="title">
    <h1>LooPortal</h1>
  </div>
</div>


<div class="body">



  <mat-horizontal-stepper #stepper [linear]="false" #stepper="matHorizontalStepper" class="stepper">
    <mat-step [stepControl]="baseFormGroup">
      <form [formGroup]="baseFormGroup">
        <ng-template matStepLabel>בחר בסיס</ng-template>

        <mat-radio-group class="radio-group" value={{this.currentBaseIndex}} (change)="baseChanged($event)">
          <mat-radio-button class="radio-button" *ngFor="let base of this.data.bases" value="{{base.index}}">
            {{base.name}} - {{base.number}}
          </mat-radio-button>
        </mat-radio-group>

        <div>
          <button mat-button matStepperNext>הבא</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="routerFormGroup">
      <form [formGroup]="routerFormGroup">
        <ng-template matStepLabel>בחר נתב</ng-template>

        <mat-radio-group class="radio-group" value={{this.currentRouterIndex}} (change)="routerChanged($event)">
          <mat-radio-button class="radio-button" *ngFor="let router of this.data.bases[this.currentBaseIndex].routers" value="{{router.index}}">
            {{router.name}} - {{router.address}}
          </mat-radio-button>
        </mat-radio-group>

        <div>
          <button mat-button matStepperPrevious>הקודם</button>
          <button mat-button matStepperNext>הבא</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="serialsFormGroup">
      <form [formGroup]="serialsFormGroup">
        <ng-template matStepLabel>בחר סיריאל</ng-template>
        <div class="row">
          <div class=col>
            <mat-radio-group class="radio-group" value={{this.currentSerialIndex}} (change)="serialChanged($event)">
              <mat-radio-button class="radio-button" *ngFor="let serial of this.data.bases[this.currentBaseIndex].routers[this.currentRouterIndex].serials"
                value="{{serial.index}}">
                {{serial.name}} - {{serial.description}}
              </mat-radio-button>
            </mat-radio-group>
            <div>
              <button mat-button matStepperPrevious>הקודם</button>
            </div>
          </div>
          <div class=col>
            <button mat-button (click)="checkLoop($event)">
              <p>
                בדיקת לופ על:
                <br> 
                {{this.data.bases[this.currentBaseIndex].name}} >
                {{this.data.bases[this.currentBaseIndex].routers[currentRouterIndex].serials[this.currentSerialIndex].name}} <
                 {{this.data.bases[this.currentBaseIndex].routers[currentRouterIndex].name}} 
              </p>
            </button>
          </div>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>


</div>

<!-- <div class="footer">
  <div class="credits">
    <p>
      created by Ron Gorlik April 2018
    </p>
  </div>
</div> -->